{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
    {% if post.author.username != current_user.username %}
            <div class="card my-1 mx-auto mb-3"  style="width: 50rem">
                <div class="card-body">
                    <h5 class="card-title"><a class="username nav-link" href="/{{ post.author.username }}">{{ post.author.username }}</a></h5>
                    <p class="card-text mb-0">{{ post.caption }}</p>
                    <p class="text-muted mb-0">{{ post.date_posted.strftime('%Y-%m-%d') }}</p>
                </div>
                {% if post.image_file %}
                    <div class="card-img-bottom px-auto"><img src="{{ url_for('static', filename = 'posts/' + post.image_file) }}" style="width: 100%"></div>
                {% endif %}
            </div>
    {% endif %}
    {% endfor %}
{% endblock content %}