{% extends "layout.html" %}
{% block content %}
<div class="container" style="width: 50rem">
<form method="POST" action="" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>{{ legend }}</legend>
        <div class="position-relative mb-3">
            {{ form.caption.label(for="validationCaption", class="form-label") }}
            <div class = "input-group has-validation">
                {% if form.caption.errors %}
                    {{ form.caption(class="form-control is-invalid", id="validationCaption") }}
                    <div class="invalid-feedback">
                        {% for error in form.caption.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.caption(class="form-control", id="validationCaption") }}
                {% endif %}
            </div>
        </div>
        <div class="position-relative mb-3">
            {{ form.picture.label(for="validationPicture", class="form-label") }}
            <div class = "input-group has-validation">
                {% if form.picture.errors %}
                    {{ form.picture(class="form-control is-invalid", id="validationPicture") }}
                    <div class="invalid-feedback">
                        {% for error in form.picture.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.picture(class="form-control", id="validationPicture") }}
                {% endif %}
            </div>
        </div>
    </fieldset>
    <div>
        {{ form.submit(class="btn btn-secondary") }}
    </div>
</form>
</div>
{% endblock content %}