{% extends "layout.html" %}
{% block content %}
<div class="container"  style="width: 50rem">
    <div>
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Join Today</legend>
                <div class="position-relative mb-3">
                    {{ form.username.label(for="username", class="form-label") }}
                    <div class = "input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend3">@</span>
                        {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid", id="username") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control", id="username") }}
                        {% endif %}
                    </div>
                </div>
                <div class="position-relative mb-3">
                    {{ form.password.label() }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
                <div class="position-relative mb-3">
                    {{ form.confirm_password.label() }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    <div>
        <small>
            Already have an account? <a href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}